$eti-a0: #000000;
$eti-a1: #CCCCCC;
$eti-a2: #ECECEC;
$eti-a3: #949494;
$eti-a4: #F4F4F4;

.eti {
  border: 1px solid $eti-a1;
}

.eti-list {
  display: flex;
  flex-wrap: wrap;

  margin: 5px 5px 0 0;
  padding: 0;
}

.eti-tag {
  display: flex;
  align-items: center;

  margin: 0 0 5px 5px;
  padding: 0 5px;
  height: 20px;

  background-color: $eti-a2;

  list-style: none;
  overflow: hidden;
}

.eti-new-tag,
.eti-edit-tag {
  padding: 0;
}

.eti-tag-content {
  color: $eti-a0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eti-tag-remove-button {
  display: flex;
  align-items: center;

  margin-left: 5px;
  cursor: pointer;

  svg {
    width: 10px;
    height: 10px;
  }
}

.eti-input {
  height: 20px;
  padding: 0 5px;
  border: 0 none;

  &:focus {
    background-color: $eti-a2;
    outline: none;
  }
}

.eti-new-input,
.eti-edit-input {
  width: 60px;
  min-width: 60px;
}

.eti-input-buffer {
  position: absolute;
  visibility: hidden;
}

.eti,
.eti-tag,
.eti-input,
.eti-input-buffer {
  font-family: Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
}

.eti-read-only {
  &, .eti-input {
    background-color: $eti-a4;
  }

  .eti-tag {
    cursor: default;
  }
}
