$eti-a0: #000000;
$eti-a1: #CCCCCC;
$eti-a2: #ECECEC;

.eti {
  font-size: 13px;

  border: 1px solid $eti-a1;
}

.eti-list {
  display: flex;
  flex-wrap: wrap;

  margin: 5px 5px 0 0;
  padding: 0;
}

.eti-tag {
  display: flex;
  align-items: center;

  margin: 0 0 5px 5px;
  padding: 0 5px;
  height: 20px;

  background-color: $eti-a2;

  list-style: none;
  overflow: hidden;
}

.eti-new-tag,
.eti-edit-tag {
  padding: 0;
}

.eti-tag-content {
  color: $eti-a0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eti-tag-remove-button {
  width: 10px;
  cursor: pointer;

  &:before {
    content: 'x';
    float: right;
  }
}

.eti-input {
  height: 20px;
  padding: 0 5px;
  border: 0 none;

  &:focus {
    background-color: $eti-a2;
    outline: none;
  }
}

.eti-new-input,
.eti-edit-input {
  width: 60px;
  min-width: 60px;
}

.eti-input-buffer {
  position: absolute;
  visibility: hidden;
  font-size: 13px;
}
